#container{
  width: 70vw;
  margin: auto;
  padding: 5vw;
  background-color:#d0d0d0;
}

#spotifySignIn{
  height: 45px;
  background-color: #1ed85e;
  border-radius: 15px;
  border: 2px solid #1db954;
  box-shadow: -1px 2px 4px -2px #000000;
  cursor: pointer;
  
  &:hover{
    background-color: #6feb9b;
    border-color: #1ed85e;
    transition: all 0.1s linear;
  }
}

/*Settings*/

/*Tooltips*/
.tooltip {
  position: relative;
  display: inline-block;
  vertical-align:super;
  text-align:center;
  border-bottom: 1px dotted black;
  margin-bottom:5px;
  margin-top:5px;
  cursor: help;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 360px;
  background-color: #555;
  color: #fff;
  text-align: center;
  font-size:12pt;
  padding: 5px 0;
  border-radius: 6px;
  
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -180px;
  
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.2s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltipFirst .tooltiptext{
  margin-left: -120px;
  &::after{
    left: 33%;
  }
}
.tooltipLast .tooltiptext{
  margin-left: -240px;
  &::after{
    left: 66%;
  }
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

input{
  margin:5px;
  text-align:right;
  box-shadow: -1px 1px 3px -3px #5e5e5e;
}

#settingsContainer{
  margin-top: 20px;
  outline: 2px solid black;
  background-color: #e9e9e9;
  padding: 5px 10px 10px 10px;
}
#resetSettings{
  height:25px;
  position:absolute;
  right:5px;
  top:5px;
  background: #c00c0c;
  color: white;
  border-radius: 5px;
  border: 2px solid #900909;
  box-shadow: -1px 2px 4px -2px #000000;
  cursor: pointer;

  &:hover{
    border-color: #c00c0c;
    background: #f33f3f; 
    transition: all 0.1s linear;
  }
  &:active{
    border-color: #900909;
    background: #c00c0c; 
  }
}
#basicSettings, #extraSettings{
  display:grid;
  width:100%;
  padding-left:10px;
  padding-right:10px;
  justify-items:center;
  gap: 4px;
  grid-auto-flow: column;
  grid-template-columns: auto;

  & > div{
    display:grid;
    justify-content:center;
  }
}
#extraSettings{
  grid-template-rows: auto auto;
}

input[type="number"]{
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}
#minMS{
  width: 100px;
}

#songPreference{
  margin:5px;
}
input[name="songPref"]+label{
  outline: 1px solid skyblue;
  padding:5px;
  outline-offset: 2px;
  text-align:center;   
  background-color: white;
  cursor: pointer;
  box-shadow: -1px 2px 4px -2px #000000;
}
input[name="songPref"]:checked+label {
  background-color: #aafdf2;
  text-shadow:0px 0px 1px black;
  transition: all 0.1s linear;
}

/*Duplicate Songs*/

#dupSongChoice{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16pt;
}

#song1, #song2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: fit-content;
  border-radius: 30px;
  border: 2px solid black;
}
#song1Cover, #song2Cover{
  max-width: 40%;
  margin: 10px;
}

#songInfo{
  width: 30%;
  position: relative;
}
#songInfo > div{
  width: fit-content;
  text-align: center;
  margin: 12pt auto;
}
#songInfo > button{
  position: absolute;
  width: 50%;
  height:28pt;
  margin: auto;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid black;
  font-size: 14pt;
}

#songInfo > button:hover, #song1:hover, #song2:hover{
  background-color: #969696;
  transition: all 0.1s linear;   
}

/*File input*/

#fileBox{
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 3px dashed skyblue;
  background-color: white;
  color: #87ceeb;
  font-size: 12pt;
  cursor: pointer;
}

#filesContainer{
  border: 2px solid black;
  background-color: #e9e9e9;
  padding: 10px 10px 10px 10px;
}

.fileImported{
  width: 80%;
  height: 24pt;
  border: 2px solid #00bfff;
  background-color: #87ceeb;
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
  overflow: hidden;
  align-content: center;
}
.trashButton:hover{
  cursor: pointer;
}

/*Results*/

#resultsDownload{
  display: flex;
  width: 25%;
  justify-content: center;
  margin: auto;
  padding: 12px;
  border-radius: 20px;
  border: 3px solid darkgreen;
  background-color: seagreen;
  color: white;
  font-size: 14pt;
  text-align: center;
  text-decoration: none;
}