:root{
  /*Theme colors*/
  --color-dark: #003566;
  --color-med: #83C5BE;
  --color-light: #9dd5e8;
  --color-accent1: #FDC500;
  --color-accent2: #947016;

  /*Colors for text*/
  --color-text: var(--color-dark);
  --color-link: var(--color-accent2);
}

.section{
  width: 100%; 
  box-sizing: border-box;
}
html,header,footer,body{
  background-color: var(--color-dark);
  color: var(--color-text);
  margin: 0;
}

hr{
  border-color: var(--color-med);
}
a{
  color: var(--color-link);
  text-decoration: underline;
  font-size: larger;
}
h1{
  font-size: 40px;
}
p{
  font-size: larger;
}

header{
  position:sticky;
  top:0px;
  z-index: 5;
  padding-bottom:5px;
}

nav{
  display: contents;
}

#headingBar{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-items: stretch;
  justify-self: center;
  overflow: hidden;
  width: 50%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-light);
  border: 2px solid var(--color-med);
  border-top: unset;
  border-radius: 0px 0px 25px 25px;
}

.headButton{
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  flex:1;
  padding-right: 3%;
  padding-left: 3%;
  border-right: 2px solid var(--color-accent2);
  font-size: larger;
  text-align:center;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-link);
}

#navEnd{
  border: unset;
}

.headButton:hover{
  background-color: var(--color-dark);
  color: var(--color-link);
  transition: background-color 0.3s;
}

.post-header{
  display: none;
}

#footerText{
  display: flex;
  justify-content: center;
}
