.section{
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 300px;
  width: 80%; 
  height: fit-content;
  padding: 0 0 50px 5%;
  margin: auto;
  border-radius: 0;
  overflow-x: hidden;
}

.textbox{
  width: 70%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.hs{
  display: grid;
  gap: 15px;
  max-height: 250px;
  height: max-content;
  width: 85%;
  grid-template-columns: 5px repeat(calc(60% - 20px)) 5px;
  grid-auto-flow: column;
  grid-auto-columns: calc(60% - 20px);
  grid-template-rows: minmax(150px, 1fr);
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  padding-bottom: 20px;
  mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

.hs::before,.hs::after{
  content: '';
  scroll-snap-align: none;
}

.hsBox{
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--color-bg1-gradient);
  border: var(--border);
  border-top: 2px solid var(--color-highlight);
  box-shadow: var(--shadow);
  gap: 20px;
  padding-left: 10px;
  padding-right: 10px;
  scroll-snap-align: center;
}

.languagesBox{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  padding-bottom: 15px;
}

.codeLanguage{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.langIcon{
  max-width: 70px;
  min-width: 10px;
  width: 100%;
}

.redirectButton{
  position: absolute;
  bottom: 10%;
  width: 125px;
  line-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: var(--border);
  border-top: 2px solid var(--color-highlight);
  background: var(--color-special-gradient);
  box-shadow: var(--shadow);
  color: var(--color-light2);
  text-align: center;
  text-decoration: none;
}

#meImage{
  width: 30%;
  margin-left: 0px;
  border-radius: 50px 0px 0px 50px;
  background-image: url('../images/zuma.jpg');
  background-size: cover;
  mask-image: 
    linear-gradient(90deg, transparent 0, rgba(0,0,0,0.1) 20px, black 70px),
    linear-gradient(0deg, transparent 0, rgba(0,0,0,0.1) 10px, black 50px),
    linear-gradient(180deg, transparent 0, rgba(0,0,0,0.1) 10px, black 50px);
  mask-composite: intersect;
}

.rightImage{
  width: 30%;
  margin: auto auto auto 20px;
  mask-image: linear-gradient(90deg, transparent 0px, rgba(0, 0, 0, 0.05) 5px, black 20px);
}

.requiredFormInput::after{
  content: "*";
  color: red;
}

.contactInput{
  margin-top: 5px;
  height: 25px;
  border-radius: 5px;
  border: none;
  box-shadow: var(--shadow);
}
.contactInput:focus{
  outline: 3px solid var(--color-bg);
}

#formBox{
  width: 100%;
  padding-right: 0;
}

#name,#email,#subject{
  width: 75%;
}
#message{
  height: 150px;
  width: 95%;
  resize: none;
}
#submitButton{
  width: 75px;
  height: 30px;
  margin-top: 10px;
}