:root{
  /*Theme colors*/
  --color-dark: #003566;
  --color-med: #83C5BE;
  --color-light: #9dd5e8;
  --color-accent1: #FDC500;
  --color-accent2: #947016;

  /*Colors for text*/
  --color-text: var(--color-dark);
  --color-link: var(--color-accent2);
}
html,header,footer,body{
  background-color: var(--color-med);
  color: var(--color-text);
}
hr{
  border-color: var(--color-dark);
}
a{
  color: var(--color-link);
  text-decoration: underline;
}

.section{
  display: flex;
  justify-content: left;
  align-content: center;
  width: 100%; 
  height: 300px;
  padding: 20px;
}

.textbox{
  width: 50%;
  padding-right: 50px;
}

.redirectButton{
  width: 75px;
  height: 25px;
  background-color: var(--color-dark);
  color: var(--color-light);
  border-radius: 20px;
  border: transparent;
}