div{
  color: unset;
}

.section{
  position: relative;
  display: block;
  min-height: 300px;
  width: 80%;
  height: fit-content;
  padding: 30px 5% 50px 5%;
  margin: 0 auto 50px auto;
  border-radius: 10px;
}

.postObject{
  position: relative;
  height: 140px;
  min-height: fit-content;
  padding: 5px;
  padding-left: 20px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 12px;
  background: var(--color-light2);
  border: var(--border);
  border-top: 2px solid var(--color-highlight);
  box-shadow: var(--shadow);
}


.tags{
  display: flex;
  margin: 0;
  margin-right: 20px;
}

.tag{
  width: fit-content;
  height: fit-content;
  padding: 2px 5px 2px 5px;
  margin: 0;
  border-radius: 10px;
  background-color: var(--color-bg);
  color: var(--color-muted);
  font-weight: bold;
  text-align: center;
  font-size: 10pt;
}


.description{
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 3.6em;
  font-size: 12pt;
  text-align: justify;
  margin: 0;
  margin-top: 2px;
}
.description::after{
  content: '';
  height: 1.2em;
  width: 5%;
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, rgba(0,0,0,0), var(--color-light2) 80%);
}

.descriptionAlt{
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 3.6em;
  font-size: 12pt;
  text-align: justify;
  margin: 0;
  margin-top: 2px;
}
.descriptionAlt::after{
  content: '';
  height: 1.2em;
  width: 5%;
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, rgba(0,0,0,0), var(--color-light1) 80%);
}


.gitLink{
  padding: 10px 15px 10px 15px;
  margin-right: 20px;
  border-radius: 20px;
  border: var(--border);
  border-top: 2px solid var(--color-highlight);
  box-shadow: var(--shadow);
  background: var(--color-bg1-gradient);
  color: var(--color-text);
  text-decoration: none;
  font-weight: bold;
  transition: box-shadow 0.2s linear;
}
.gitLink:hover{
  box-shadow: 0px 0px 2px 1px var(--color-special);
  transition: box-shadow 0.2s linear;
}
