:root{
  /*Theme colors*/
  --color-dark: #003566;
  --color-med: #83C5BE;
  --color-light: #9dd5e8;
  --color-accent1: #FDC500;
  --color-accent2: #947016;

  /*Colors for text*/
  --color-text: var(--color-dark);
  --color-link: var(--color-accent2);
}
.section{
  width: 100%; 
  box-sizing: border-box;
}
html,header,footer,body{
  background-color: var(--color-dark);
  color: var(--color-text);
  margin: 0;
}
hr{
  border-color: var(--color-dark);
}
a{
  color: var(--color-link);
  text-decoration: underline;
}
h1{
  font-size: 40px;
}
p, label{
  font-size: larger;
}

.section{
  position: relative;
  display: block;
  min-height: 300px;
  width: 80%;
  height: fit-content;
  padding: 30px 5% 50px 5%;
  margin: 0 auto 50px auto;
  border-radius: 10px;
}

.postObject{
  position: relative;
  height: 140px;
  min-height: fit-content;
  padding: 5px;
  padding-left: 20px;
  border-radius: 10px;
  margin-bottom: 12px;
  background-color: beige;
  box-shadow: 0px 0px 1px 2px var(--color-accent2);
}


.tags{
  display: flex;
  margin: 0;
  margin-right: 20px;
}

.tag{
  width: fit-content;
  height: fit-content;
  padding: 2px 5px 2px 5px;
  margin: 0;
  border-radius: 10px;
  background-color: var(--color-accent1);
  color: var(--color-accent2);
  font-weight: bold;
  text-align: center;
  font-size: 10pt;
}


.description{
  overflow: hidden;
  line-height: 1.2em;
  max-height: 3.6em;
  font-size: 12pt;
  margin: 0;
  margin-top: 2px;
}


.gitLink{
  padding: 10px 15px 10px 15px;
  margin-right: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 1px 2px var(--color-accent2);
  background-color: var(--color-accent1);
  color: var(--color-dark);
  text-decoration: none;
  font-weight: bold;
  transition: box-shadow 0.2s linear;
}
.gitLink:hover{
  box-shadow: 0px 0px 1px 4px var(--color-accent2);
  transition: box-shadow 0.2s linear;
}
