---
title: "Collaborative Projects"
permalink: /collaborative-projects
layout: default
---
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/Portfolio/stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="/Portfolio/stylesheets/posts.css">
    <!--CSS Link for VSCode-->
    <link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/posts.css">
  </head>
  <body>
    <!--Under Construction Sign-->
      <div style="display: flex; flex-direction: column; align-items: center; height: 150vh; background-color: var(--color-text1);">
        <div style="display: flex; flex-direction: column; align-items: center; width: 50%;">
          <h1 style="margin-top: 20%; font-size: 42pt; color: var(--color-light2);">
            Coming Soon</h1>
          <p style="text-align: center; font-size: 18pt; color: var(--color-light1)">
            The portfolio website is still being worked on to ensure all of my qualities are best displayed and highlighted. Please check back soon!</p>
          <p style="text-align: center; font-size: 18pt; color: var(--color-light1)">
          <a href="spotify" style="font-size: 18pt; color: var(--color-bg);">Click here</a> to view my fully functional Spotify parsing webpage.</p>
        </div>
      </div>

    <div class="section" style="background-color: var(--color-light1); display: block;">
      <h1>Collaborative Projects</h1>

      <p>Developing software in a group really felt like I was a part of something great. It's insightful to brainstorm with others and gain different perspectives and methods to achieve the goal we are all striving for. Delegating tasks for every person allowed me to specialize in specific areas for each project, which then let me be very attentive in my code. Working on these collaborative  projects has also built closer connections with my peers and has even led to more joint projects that are in the works.</p>

      <!--Posts-->
      <ul style="width: 100%; padding-left: 0;">
        {% for post in site.posts %}{% if post.category == 'group' %}
          <li style="display: block;">
            <div class="postObject">
              <h2 style="margin-bottom: 5px;"><a href="https://tkothenbeutel.github.io/Portfolio{{ post.url }}">{{ post.title }}</a></h2>
              <div class="tags">
                {% for tag in post.tags %}
                  <p class="tag">{{ tag }}</p>
                  <div style="width: 10px;"></div>
                {% endfor %}
                <span style="flex: 1; font-size: 12pt; text-align: right; font-weight: bold;">{{ post.date | date: "%Y %B %-d" }}</span>
              </div>
              <p class="description">{{ post.excerpt }}</p>
            </div>
          </li>
        {% endif %}{% endfor %}
      </ul>
    </div>
  </body>
</html>

