---
title: "Solo Projects"
permalink: /solo-projects
layout: default
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/Portfolio/stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="/Portfolio/stylesheets/post_directory.css">
    <!--Link for working in VSCode-->
    <link rel="stylesheet" type="text/css" href="../stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/post_directory.css">
  </head>
  <body>
    <!--Under Construction Sign-->
      <div style="display: flex; flex-direction: column; align-items: center; height: 150vh; background-color: var(--color-med);">
        <div style="display: flex; flex-direction: column; align-items: center; width: 50%;">
          <h1 style="margin-top: 20%; font-size: 42pt; color: var(--color-accent2);">
            Coming Soon</h1>
          <p style="text-align: center; font-size: 18pt;">
            The portfolio website is still being worked on to ensure all of my qualities are best displayed and highlighted. Please check back soon!</p>
          <p style="text-align: center; font-size: 18pt;">
            <a href="spotify">Click here</a> to view my fully functional Spotify parsing webpage.</p>
        </div>
      </div>

    <div class="section" style="background-color: var(--color-med); display: block;">
      <h1>Solo Projects</h1>

      <p>Wa wa wa wa wa.</p>

      <!--Posts-->
      <ul style="width: 100%; padding-left: 0;">
        {% for post in site.posts %}{% if post.category == individual %}
          <li style="display: block;">
            <div class="postObject">
              <h2 style="margin-bottom: 5px;"><a href="/{{ post.url }}">{{ post.title }}</a></h2>
              <div class="tags">
                {% for tag in post.tags %}
                  <p class="tag">{{ tag }}</p>
                  <div style="width: 10px;"></div>
                {% endfor %}
                <span style="flex: 1; font-size: 12pt; text-align: right; font-weight: bold;">{{ post.date | date: "%-d %B %Y" }}</span>
              </div>
              <p class="description">{{ post.description }}</p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>