---
title: "Solo Projects"
permalink: /solo-projects
layout: default
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/Portfolio/stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="/Portfolio/stylesheets/posts.css">
    <!--CSS Link for VSCode-->
    <link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/posts.css">
  </head>
  <body>
    <!--Under Construction Sign-->
      <div style="display: flex; flex-direction: column; align-items: center; height: 150vh; background-color: var(--color-text);">
        <div style="display: flex; flex-direction: column; align-items: center; width: 50%;">
          <h1 style="margin-top: 20%; font-size: 42pt; color: var(--color-light2);">
            Coming Soon</h1>
          <p style="text-align: center; font-size: 18pt; color: var(--color-light1)">
            The portfolio website is still being worked on to ensure all of my qualities are best displayed and highlighted. Please check back soon!</p>
          <p style="text-align: center; font-size: 18pt; color: var(--color-light1)">
          <a href="spotify" style="font-size: 18pt; color: var(--color-bg);">Click here</a> to view my fully functional Spotify parsing webpage.</p>
        </div>
      </div>

    <div class="section" style="background: var(--color-bg1-gradient); box-shadow: var(--shadow);">
      <h1>Solo Projects</h1>

      <p>I love to code as a hobby, and so that has led to many projects throughout the year. Below are some of my best projects out of the bunch. My favorite aspect of working on the projects solo is how much more I get to learn. Building every aspect of a program has opened me to elements of development that I was not previously aware of, but required for the result I was striving for. An example of this is my Spotify webpage, where I initially lacked an understanding of API keys until I had to implement them to connect my design with Spotify. Without these projects, which I've either completed for a grade or for my personal satisfaction, I would not have known nearly as much about software development as I do now.</p>

      <!--Posts-->
      <ul style="width: 100%; padding-left: 0;">
        {% for post in site.posts %}{% if post.category == 'individual' %}
          <li style="display: block;">
            <div class="postObject">
              <h2 style="margin-bottom: 5px;"><a href="https://tkothenbeutel.github.io/Portfolio{{ post.url }}">{{ post.title }}</a></h2>
              <div class="tags">
                {% for tag in post.tags %}
                  <p class="tag">{{ tag }}</p>
                  <div style="width: 10px;"></div>
                {% endfor %}
                <span style="flex: 1; font-size: 12pt; text-align: right; font-weight: bold;">{{ post.date | date: "%Y %B %-d" }}</span>
              </div>
              <p class="description">{{ post.excerpt }}</p>
            </div>
          </li>
        {% endif %}{% endfor %}
      </ul>
    </div>
  </body>
</html>