<!DOCTYPE html>
<html>
  <head>
    <script src="/Portfolio/mini-coi.js" scope="./"></script>
    <meta charset="UTF-8" />
    <title>My Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/Portfolio/stylesheets/default.css">
    <!--CSS Link for VSCode-->
    <link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
  </head>
  <header style="height: fit-content;">
    <div id="headingBar">
      <nav>
        <a class="headButton" href="/Portfolio" id="navStart">Home</a>
        <a class="headButton" href="/Portfolio/solo-projects">Solo Projects</a>
        <a class="headButton" href="/Portfolio/collaborative-projects">Collaborative Projects</a>
        <a class="headButton" href="/Portfolio/#contact">Contact</a>
      </nav>
    </div>
  </header>
  <body>
    {{ content }}
  </body>
  <br><br><br>
  <footer>
    <hr id="footerLine">
    <div id="footerText">
      Thank you for visiting my portfolio!&emsp;
      <a href="#">Back to top</a>
    </div>
    
  </footer>
  
</html>

