<!DOCTYPE html>
<html>
  <head>
    <title>My Portfolio</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
  </head>
  <header>
    <div id="headingBar">
      <nav>
        <a class="headButton" href="">Home</a>
        <a class="headButton" href="">Solo Projects</a>
        <a class="headButton" href="">Group Projects</a>
        <a class="headButton" href="" id="navEnd">Contact</a>
      </nav>
      
    </div>
  </header>
  
  <body>
    {{ content }}
  </body>

  <footer>
    <br><br><br><hr>
    <div id="footerText">
      Thank you for visiting my portfolio!&emsp;
      <a href="#">Back to top</a>
    </div>
    
  </footer>
  
</html>

